.wrapper {

    $babies: 100;

    @function pv() {
        $position: random()*95 + '%';
    
        @return #{$position};
    }

@keyframes fallen {
    0% {
        box-shadow: none;
        padding: 0;
        pointer-events: all;
        top: -30px;
    }

    95% {
        width: 18px;
        height: 30px;
        box-shadow: none;
        background-color: white;
        border: 1px solid black;
        border-radius: 100% 100% 100% 100% / 100% 100% 70% 70%;
        padding: 0;
        pointer-events: all;
    }

    100% {
        width: 15px;
        height: 15px;
        box-shadow: 0 0 3px 10px darken(white, 5%);
        background-color: #ffffcc;
        border-radius: 100%;
        border-color: rgba(black, 0.1);
        padding: 5px;
        pointer-events: none;
        top: calc(100vh - 40px);
    }
}

@keyframes gameover {
    to {
        perspective: 1000;
        transform: rotateY(0deg);
        transition: all 600ms;
    }
}

* {
    box-sizing: border-box;

    &:before, &:after {
        box-sizing: border-box;
    }
}

.body {
    height: 100vh; 
    width: 100vw;
    background-color: white;
    display: flex;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

.check {
    width: 30px;
    height: 30px;
    appearance: none;
    background-color: transparent;
    border: 0;
    left: 0;
    outline: 0;
    position: absolute;
    top: 0;

    &:checked {
        counter-increment: game;
    }
}

.scene {
    height: 100vh; 
    width: 100vw;
    align-items: center;
    display: inherit;
    justify-content: center;
}

.intro,
.gameover {
    background-color: darken(BlueViolet, 20%);
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: (20px / 2) 20px;
    perspective: 1000;
    position: absolute;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: all 600ms;
    z-index: 20;
}

.intro {
    color: lighten(white, 10%);

    h1, h2 {
        color: white;
        display: flex;
        font-family: 'Sedgwick Ave Display', sans-serif !important;
        font-style: italic;
        justify-content: center;
        margin-bottom: 10px;
        text-shadow: 0 .4vw 5px black;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    .anweisung {
        display: flex;
        flex-direction: column;
        margin: 5vh auto 0;
        max-width: 50vw;

        p {
            margin-bottom: 10px;
            text-align: center;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.startinput {
    display: none;

    &:checked {

        &~.intro {
            opacity: 0;
            visibility: hidden;
            transform: rotateY(90deg);
            transition: all 600ms;
        }

        &~.gameover {
            animation-play-state: running;
        }

        &+.state {
            display: none;

            .start {
                background-color: #2196F3;

                &:before {
                    transform: translateX(26px);
                }
            }
        }

        &~.baby {
            animation-play-state: running;
        }
    }
}

.state {
    bottom: 100px;
    display: inline-block;
    position: absolute;
    left: 50%;
    height: 34px;
    transform: translateX(-50%);
    width: 60px;
    z-index: 30;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: DarkCyan;

    .start {
        cursor: pointer;
        position: absolute;
        transition: .4s;
        padding-left: 10px;
        padding-top: 5px;

        &:before {
            content: "";
            height: 26px;
            position: absolute;
            transition: .4s;
            width: 26px;
        }

    }
}

.frame {
    width: 30px;
    height: 30px;
    background-color: darkcyan;
    counter-reset: none;
    height: 100vh;
    overflow: hidden;
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
    width: 100vw;
}

.babies {
    display: none;
    position: relative;

    .kopf, .koerper {
        background-color: white;
        border: 1px solid black;
    }
    
}

.baby {
    width: 18px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 100% 100% 100% 100% / 100% 100% 70% 70%;
    box-shadow: none;
    padding: 0;
    position: absolute;
    top: -30px;
    z-index: 50;

    &:hover {
        cursor: pointer;
    }

    @for $i from 1 through $babies {
            $speed: random(3)*(40 / 4) + 's';
            $random: random( )*5 + 's';

            &#{$i} {
                animation: fallen #{$speed} linear #{$random} forwards;
                animation-play-state: paused;
                left: pv();
            }

            &#{$i} {

                &:checked {


                    &~.baby#{$i} {
                        opacity: 0;
                        transform: translate(-50%, -50%) scale(0.01);
                        transition: all 0.1s linear;
                    }
                }
            }
        
    }
}

.footer {
    align-items: center;
    background-color: darken(BlueViolet, 20%);
    bottom: 0;
    display: flex;
    flex: 1 0 auto;
    height: 30px;
    left: 0;
    padding: 0 20px / 2;
    position: absolute;
    right: 0;
    z-index: 10;
}

.punkte {
    color: white;
    font-family: 'Sedgwick Ave Display', sans-serif;
    font-size: 1rem;


    span {

        &:after {
            content: counter(game);
        }
    }
}

.gameover {
    align-items: center;
    animation: gameover 1s linear unquote(40 + 's') forwards;
    animation-play-state: paused;
    justify-content: center;
    transform: rotateY(90deg);
    z-index: 40;

    h1 {
        color: white;
        font-family: 'Sedgwick Ave Display', sans-serif;
        font-style: italic;
        font-size: 3rem;
        margin-bottom: 25px;
        text-shadow: 0 .4vw black;
    }

    .text {
        color: white;
        font-family: 'Sedgwick Ave Display', sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 1.5rem;
        margin-bottom: 20px;
        text-align: center;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .punkte {
        color: DarkCyan;
        margin-bottom: 20px;
        text-shadow: none;
    }

    a { 
        color: darkcyan;
    }

    a:hover { 
        color: CornflowerBlue;
    }
}
}